# python3 virtual environment
py3ve

# python3 cache
**/__pycache__

# Jupyter Notebook cache
.ipynb_checkpoints

# pytest cache
.pytest_cache

# vscode settings
.vscode

# coverage cache
.coverage

# log
cache.log